*, *::after, *::before{
box-sizing: border-box;
}

body{
    background-color: rgb(231, 240, 231);
    font-family: 'Helvetica Neue',sans-serif;
    color: rgb(41, 47, 40);
}

:root{
    font-size: 16px;
}

body, h1,h2,h3,h4,h5,p, ul, li, ol{
    margin:0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
height: 100%;

}

nav li {
    list-style: none;

}

nav li a {
        text-decoration: none;
color: rgb(128, 53, 26);
}


nav li:last-child a:hover{
cursor: help;

}




.plants{

margin: 24px auto;
}

.plants-img{
    width: 100%;
    max-width: 300px;
aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid rgb(114, 137, 111);
}

.plants ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
 justify-content: center;

}

.plants li{
    width: 100%;
    max-width: 300px;
    padding: 16px;
    list-style: none;
}


.plants p{
    font-size: 0.9rem;
    text-align: center;
}


.handbook-take-care{
    margin: auto 32px;
}


.how-to li{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(114, 137, 111); 
    padding: 8px;  
}



.plants-img-title{
    display: flex;
    gap: 16px;
    flex: 1;
    align-items: center;

}

.plants-img-title img{
flex-shrink: 0;
width: 120px;
height:120px;
object-fit: cover;
}


.plants-text{
    display: flex;
    gap: 16px;
}

.status-warn{
    color: rgb(142, 20, 20);
     font-weight: 500;

}


.how-to li:nth-of-type(1){
    justify-content: space-between;
    margin-top: 24px;
    color: rgb(65, 65, 65);
}




.status-how-to{
    display: flex;
    flex-direction: row;
    gap: 16px
}

.status{
    color: rgb(15, 15, 92);
    font-weight: 500;
}

.status-growing{
    color: rgb(8, 68, 8);
    font-weight: 500;
}

